#!/usr/bin/env bash

#  ▓█████▒██   ██▒██▓███  ▒█████  ██▀███ ▄▄▄█████▓ ██████ 
#  ▓█   ▀▒▒ █ █ ▒▓██░  ██▒██▒  ██▓██ ▒ ██▓  ██▒ ▓▒██    ▒ 
#  ▒███  ░░  █   ▓██░ ██▓▒██░  ██▓██ ░▄█ ▒ ▓██░ ▒░ ▓██▄   
#  ▒▓█  ▄ ░ █ █ ▒▒██▄█▓▒ ▒██   ██▒██▀▀█▄ ░ ▓██▓ ░  ▒   ██▒
#  ░▒████▒██▒ ▒██▒██▒ ░  ░ ████▓▒░██▓ ▒██▒ ▒██▒ ░▒██████▒▒
#  ░░ ▒░ ▒▒ ░ ░▓ ▒▓▒░ ░  ░ ▒░▒░▒░░ ▒▓ ░▒▓░ ▒ ░░  ▒ ▒▓▒ ▒ ░
#   ░ ░  ░░   ░▒ ░▒ ░      ░ ▒ ▒░  ░▒ ░ ▒░   ░   ░ ░▒  ░ ░
#     ░   ░    ░ ░░      ░ ░ ░ ▒   ░░   ░  ░     ░  ░  ░  
#     ░  ░░    ░             ░ ░    ░                  ░  
#                                                         

# Make vim the default editor.
export EDITOR='nvim';
export CLICOLOR=1
export LSCOLORS='GxFxCfDxBxegedabagaced'
# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';
# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE=5000
export HISTFILESIZE=10000
# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";
# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';
export HOMEBREW_NO_AUTO_UPDATE=1
# Setting PATH for Python 3.9
# The original version is saved in .bash_profile.pysave
PATH="/Library/Frameworks/Python.framework/Versions/3.9/bin:${PATH}"
PATH="/usr/local/opt/python@3.9/libexec/bin:${PATH}"
PATH="/usr/local/mysql/bin/mysql:${PATH}"
PATH="/Applications/Postgres.app/Contents/Versions/13/bin:${PATH}"
export PATH
